////
/// Site header object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/genesiscustomizer/plugin
////

.site-header {
	position: relative;
	z-index: 10;
	transition: background-color $base--transition-duration $base--transition-timing-function;

	@include mq(0, m) {

		.admin-bar.has-sticky-header-mobile &,
		.admin-bar.has-sticky-header & {
			top: 46px !important;
		}
	}

	@include mq(m) {

		.has-logo-side & {
			width: 30rem;
		}

		.has-logo-side &,
		.has-logo-side.has-sticky-header &,
		.has-logo-side.has-sticky-header-desktop & {

			@include position(fixed, 0 null 0 0);

			.wrap {
				justify-content: center;
				align-items: center;
			}
		}

		.admin-bar.has-sticky-header &,
		.admin-bar.has-sticky-header-desktop & {
			top: 32px !important;
		}
	}

	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}
}
