/src/pro/
/src/pro/*

/logs/
/node_modules/
/composer.lock
/.phpcs.xml
/phpcs.xml
/phpunit.xml

/vendor/aristath/kirki/.github/
/vendor/aristath/kirki/docs/
/vendor/aristath/kirki/tests/
/vendor/aristath/kirki/controls/scss/
/vendor/aristath/kirki/.*
/vendor/aristath/kirki/*.sh
/vendor/aristath/kirki/*.md
/vendor/aristath/kirki/*.txt
/vendor/aristath/kirki/*.xml
/vendor/aristath/kirki/*.dist
/vendor/aristath/kirki/LICENSE
/vendor/aristath/kirki/package*
/vendor/aristath/kirki/Gruntfile.js
/vendor/aristath/kirki/example.php

/vendor/monolog/monolog/LICENSE
/vendor/monolog/monolog/*.md

/vendor/psr/log/.*
/vendor/psr/log/*.md
/vendor/psr/log/LICENSE
/vendor/psr/log/Psr/Log/Test

/vendor/richtabor/merlin-wp/dist/
/vendor/richtabor/merlin-wp/assets/scss/
/vendor/richtabor/merlin-wp/*.md
/vendor/richtabor/merlin-wp/*.lock
/vendor/richtabor/merlin-wp/package*
/vendor/richtabor/merlin-wp/LICENSE

/vendor/seothemes/core/*.md
/vendor/seothemes/core/.*
