
// Site title.
.title-area .site-title {
	margin: 0;
	font-weight: $font-weight--bold;

	.wp-custom-logo & {

		@include hide-visually;
	}

	a {
		padding: 0;

		@include mq(m) {
			padding: 0;
		}
	}
}
