.admin-bar.has-sticky-header-mobile .site-header,
.admin-bar.has-sticky-header .site-header {
  top: 46px !important;
}

.has-logo-above-mobile .primary-header > .wrap {
  justify-content: center;
}

.has-logo-left-mobile .title-area {
  margin-left: 0;
  margin-right: auto;
}

.has-logo-above-mobile .title-area {
  text-align: center;
}

.has-logo-right-mobile .title-area {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.menu-toggle-bar {
  z-index: 5;
  order: 1;
}

.has-logo-above-mobile .menu-toggle-bar {
  display: flex;
  margin: 0 -5vw;
  max-width: 100vw;
  position: relative;
  width: 100vw;
  order: 2;
  justify-content: center;
  align-items: center;
}

.has-logo-above-mobile .header-left {
  margin-right: auto;
  flex: 1;
}

.has-logo-above-mobile .header-right {
  margin-left: auto;
  flex: 1;
}

.has-transparent-header-mobile .site-header {
  position: absolute;
}

.has-transparent-header-mobile .transparent-logo-link {
  display: block;
}

.has-transparent-header-mobile.elementor-editor-active:hover .site-header {
  display: none;
}

.has-transparent-header-mobile.has-transparent-logo .custom-logo-link {
  display: none;
}

.wp-block-columns {
  flex-wrap: wrap;
}

.wp-block-column {
  width: 100%;
  flex: none;
}

.has-logo-above-mobile .header-search-toggle.flex-left {
  bottom: 45%;
  left: 0;
  position: absolute;
}

.has-logo-above-mobile .header-search-toggle.flex-right {
  bottom: 45%;
  position: absolute;
  right: 0;
}

.has-sticky-header-mobile .site-header {
  position: absolute;
  top: 0;
}

.has-sticky-header-mobile.has-sticky-nav-secondary .shrink .nav-secondary {
  opacity: 1;
}

.hide-mobile {
  display: none;
}

.show-mobile {
  display: flex;
}